################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.user
*.suo
.vs/
bin/
obj/
node_modules/
packages/
/DerekHoneycutt/appsettings.Development.json
#/DerekHoneycutt/appsettings.json
/DerekHoneycutt/Properties/PublishProfiles
/DerekHoneycutt/Properties/ServiceDependencies/DerekHoneycuttPortfolio - Web Deploy
#/front_src/webpack.user_config.js
/front_src/main/appinsights.js
/server_secrets.json
