################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/node_modules
/obj
/appsettings.Development.json
/appsettings.json
/derekhoneycutt.db
/OTHERS/Gpx/GpxAnalysis/bin
/OTHERS/Gpx/GpxAnalysis/obj
/OTHERS/Gpx/GpxAnalyzer/bin
/OTHERS/Gpx/GpxAnalyzer/obj
/OTHERS/VagabondLib/bin
/OTHERS/VagabondLib/obj
/packages
/OTHERS/searchicd10/.vs
/OTHERS/searchicd10/ICD.DataAccess/bin
/OTHERS/searchicd10/ICD.DataAccess/obj
/OTHERS/searchicd10/IcdDatabaseBuilder/bin
/OTHERS/searchicd10/IcdDatabaseBuilder/obj
/OTHERS/searchicd10/packages
/OTHERS/searchicd10/SearchIcd10/bin
/OTHERS/searchicd10/SearchIcd10/obj
*.user
