################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/node_modules
/obj
/appsettings.Development.json
/appsettings.json
/derekhoneycutt.db
/OTHERS/GpxAnalysis/bin
/OTHERS/GpxAnalysis/obj
/OTHERS/GpxAnalyzer/bin
/OTHERS/GpxAnalyzer/obj
/OTHERS/VagabondLib/bin
/OTHERS/VagabondLib/obj
