@use "@material/elevation";
@use "@material/chips/mdc-chips";

@mixin saw-sidebar-menu-calendar-comp-shown {
    padding: 0 10px 0 8px;

    drock-calendar {
        max-width: var(--saw-calendar-dropout-comp-width, 215px);
        max-height: var(--saw-calendar-dropout-comp-height, 250px);
        font-size: 16px;
    }
}

@mixin saw-sidebar-menu-calendar-todaychip-shown {
    margin: 5px 5px 20px 5px;
    display: block;
    max-height: var(--saw-calendar-todaychip-height, 25.6px);

    .saw-mdc-chip {
        max-height: var(--saw-calendar-todaychip-height, 25.6px);

        &:focus-within {
            outline: var(--saw-std-focus-outline, none);
            border: none;
        }

        .mdc-chip__touch {
            max-height: 48px;
        }

        span {
            max-height: var(--saw-calendar-todaychip-height, 25.6px);
            font-size: 14px;
        }
    }
}



drock-calendar:unresolved {
    visibility: hidden;
}

.saw-sidebar-menu-calendar {
    order: 3;
}


.saw-sidebar-menu-calendar-dropout {
    @include elevation.elevation(6);
    background-color: var(--mdc-theme-surface, #fff);
    height: 0;
    max-width: var(--saw-calendar-dropout-width, 100%);
    min-width: var(--saw-calendar-dropout-width, 100%);
    border-radius: var(--saw-std-surface-border-radius, 2px);
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    transition: all var(--saw-transitions-length, 0.3s) ease-in-out;

    drock-calendar {
        max-width: 0;
        max-height: 0;
        font-size: 0;
        transition: all var(--saw-transitions-length, 0.3s) ease-in-out;
        transition-delay: 0s;
    }

    &:focus {
        outline: var(--saw-std-focus-outline, none);
        border: none;
    }
}

#saw-navchip-today {
    margin: 0;
    max-height: 0;
    padding: 0;
    user-select: none;
    transition: all var(--saw-transitions-length, 0.3s) ease-in-out;

    .saw-mdc-chip {
        margin: 0;
        max-height: 0;
        transition: all var(--saw-transitions-length, 0.3s) ease-in-out;

        .mdc-chip__touch {
            max-height: 0;
        }

        span {
            max-height: 0;
            font-size: 0;
            transition: all var(--saw-transitions-length, 0.3s) ease-in-out;
        }
    }
}

.saw-sidebar-menu-calendar:focus-within {
    .saw-sidebar-menu-item-icon {
        opacity: 0;
    }

    .saw-sidebar-menu-calendar-dropout {
        @include saw-sidebar-menu-calendar-comp-shown;
        height: calc(var(--saw-calendar-dropout-height, 285px) + 15px);
    }

    #saw-navchip-today {
        @include saw-sidebar-menu-calendar-todaychip-shown;
    }
}



@media screen and (orientation: landscape) {
    .saw-sidebar-menu-calendar {
        order: 1;

        &:focus-within {
            order: 0;
            padding: 0;
        }
    }

    .saw-sidebar-menu-calendar-dropout {
        position: relative;
        max-width: 0;
        min-width: 0;
        flex-direction: column;
    }

    .saw-sidebar-menu-calendar:focus-within .saw-sidebar-menu-calendar-dropout {
        max-width: var(--saw-calendar-dropout-width-landscape, 215px);
        min-width: var(--saw-calendar-dropout-width-landscape, 215px);
        height: var(--saw-calendar-dropout-height, 285px);
        margin-left: 160px;

        #saw-navchip-today {
            margin: 5px;
        }
    }


    @media screen and (min-height: 600px) {
        .saw-sidebar-menu-calendar:focus-within {
            order: 1;
        }

        #saw-base-expanded:checked {

            ~ .saw-body .saw-sidebar-menu-calendar {
                order: 1;
                padding: 5px 0;
            }

            ~ .saw-body .saw-sidebar-menu-calendar-dropout {
                @include elevation.elevation(2);
                @include saw-sidebar-menu-calendar-comp-shown;
                margin-left: -25px;
                max-width: var(--saw-calendar-dropout-comp-width, 215px);
                min-width: var(--saw-calendar-dropout-comp-width, 215px);
                height: var(--saw-calendar-dropout-height, 285px);
                transition-delay: var(--saw-sidebar-expand-delay, 0.05s);

                drock-calendar {
                    transition-delay: var(--saw-sidebar-expand-delay, 0.05s);
                }
            }

            ~ .saw-body #saw-navchip-today {
                @include saw-sidebar-menu-calendar-todaychip-shown;
                margin: 5px;
            }
        }// #saw-base-expanded:checked

    }// @media screen and (min-height: 600px)
}// @media screen and (orientation: landscape)
