@use "@material/elevation";
@use "@material/list";

@mixin saw-sidebar-menu-view-dropout-shown {
    height: var(--saw-views-dropout-height, 250px);

    .saw-sidebar-menu-view-list .mdc-list-item {
        padding-left: var(--saw-listitem-padding-left, 32px);
        padding-right: var(--saw-listitem-padding-right, 16px);
        height: var(--saw-nav-listitem-height, 48px);

        .mdc-list-item__graphic {
            width: var(--saw-std-icon-size, 24px);
            height: var(--saw-std-icon-size, 24px);
            font-size: var(--saw-std-icon-size, 24px);
        }

        .mdc-list-item__text {
            font-size: 16px;
        }
    }
}



.saw-sidebar-menu-view {
    order: 1;
}

.saw-sidebar-menu-view-dropout {
    @include elevation.elevation(6);
    background-color: var(--mdc-theme-surface, #fff);
    height: 0;
    max-width: var(--saw-views-dropout-width, 100%);
    min-width: var(--saw-views-dropout-width, 100%);
    border-radius: var(--saw-std-surface-border-radius, 2px);
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all var(--saw-transitions-length, 0.3s) ease-in-out;

    &:focus {
        outline: var(--saw-std-focus-outline, none);
        border: none;
    }
}

.saw-sidebar-menu-view-list {
    @include list.core-styles;
    margin: 0;
    padding: 5px 0;

    .mdc-list-item {
        padding-left: 0;
        padding-right: 0;
        height: 0;
        transition: all var(--saw-transitions-length, 0.3s) ease-in-out;

        .mdc-list-item__graphic {
            width: 0;
            height: 0;
            font-size: 0;
            transition: all var(--saw-transitions-length, 0.3s) ease-in-out;
        }

        .mdc-list-item__text {
            font-size: 0;
            transition: all var(--saw-transitions-length, 0.3s) ease-in-out;
        }
    }
}

.saw-sidebar-menu-view:focus-within {
    .saw-sidebar-menu-item-icon {
        opacity: 0;
    }

    .saw-sidebar-menu-view-dropout {
        @include saw-sidebar-menu-view-dropout-shown;
    }
}


@media screen and (orientation: landscape) {
    .saw-sidebar-menu-view {
        order: 2;

        &:focus-within {
            order: 0;
            padding: 0;
        }
    }
    
    .saw-sidebar-menu-view-dropout {
        position: relative;
        max-width: 0;
        min-width: 0;
    }

    .saw-sidebar-menu-view:focus-within .saw-sidebar-menu-view-dropout {
        max-width: var(--saw-views-dropout-comp-width, 200px);
        min-width: var(--saw-views-dropout-comp-width, 200px);
        margin-left: 130px;
    }



    @media screen and (min-height: 600px) {
        .saw-sidebar-menu-view:focus-within {
            order: 2;
        }


        #saw-base-expanded:checked {

            ~ .saw-body .saw-sidebar-menu-view {
                order: 2;
                padding: 5px 0;
            }

            ~ .saw-body .saw-sidebar-menu-view-dropout {
                @include elevation.elevation(2);
                @include saw-sidebar-menu-view-dropout-shown;
                max-width: var(--saw-views-dropout-comp-width-expanded, 235px);
                min-width: var(--saw-views-dropout-comp-width-expanded, 235px);
                margin-left: -25px;
                transition-delay: var(--saw-sidebar-expand-delay, 0.05s);
            }

            ~ .saw-body .saw-sidebar-menu-view-list .mdc-list-item {
                transition-delay: var(--saw-sidebar-expand-delay, 0.05s);

                .mdc-list-item__graphic {
                    transition-delay: var(--saw-sidebar-expand-delay, 0.05s);
                }

                .mdc-list-item__text {
                    transition-delay: var(--saw-sidebar-expand-delay, 0.05s);
                }
            }
        }// #saw-base-expanded:checked

    }// @media screen and (min-height: 600px)
}// @media screen and (orientation: landscape)
