@use "@material/ripple";
@use "@material/fab/mdc-fab";
@import '../material-icons.scss';
@import '../RobotoFont.scss';

:host {
    all: initial;
    display: block;
    contain: none;
    font-family: Roboto, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    transition: all var(--drock-transitions-length, 0.3s) ease-in-out;
    --drock-swiper-positionoffsetX: 0;
    --drock-swiper-positionoffsetY: 0;
    --drock-swiper-slottranslength: var(--drock-transitions-length, 0.3s);
    --drock-swiper-overflow: visible;
    --drock-swiper-orientation: row;
}

.drock-swiper-container {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: var(--drock-swiper-orientation, row);
    align-items: flex-start;
    overflow: var(--drock-swiper-overflow, hidden);
}

::slotted(*) {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    transform: translate(var(--drock-swiper-positionoffsetX, 0), var(--drock-swiper-positionoffsetY, 0));
    transition: transform var(--drock-swiper-slottranslength, 0.3s) ease-in-out;
}

.drock-swiper-prev {
    position: absolute;
    top: calc(50% - 20px);
    left: -50px;
    user-select: none;
    cursor: pointer;
    transition: all var(--drock-transitions-length, 0.3s) ease-in-out;
    z-index: 10;
}

.drock-swiper-next {
    position: absolute;
    top: calc(50% - 20px);
    right: -50px;
    user-select: none;
    cursor: pointer;
    transition: all var(--drock-transitions-length, 0.3s) ease-in-out;
    z-index: 10;
}

.drock-swiper-prev.drock-swiper-shownav {
    left: 10px;
}

.drock-swiper-next.drock-swiper-shownav {
    right: 10px;
}

.drock-swiper-hidden {
    display: none !important;
}

.drock-swiper-upprev {
    @include ripple.surface;
    @include ripple.radius-bounded;
    @include ripple.states;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 45px;
    max-height: 45px;
    min-width: 100%;
    background: rgba(0,0,0,0.01);
    user-select: none;
    cursor: pointer;
    z-index: 10;
    overflow: hidden;
    border: none;
}

.drock-swiper-downnext {
    @include ripple.surface;
    @include ripple.radius-bounded;
    @include ripple.states;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 45px;
    max-height: 45px;
    min-width: 100%;
    background: rgba(0,0,0,0.01);
    user-select: none;
    cursor: pointer;
    z-index: 10;
    overflow: hidden;
    border: none;
}

@media screen and (orientation: portrait) {
    .drock-swiper-prev, .drock-swiper-next {
        display: none !important;
    }
}

@media screen and (orientation: landscape) and (max-height: 600px) {
    .drock-swiper-prev, .drock-swiper-next {
        display: none !important;
    }
}
