@use "@material/elevation";
@use "@material/ripple";
@use "@material/snackbar/mdc-snackbar";
@use "@material/icon-button/mdc-icon-button";
@use "@material/card/mdc-card";
@import 'RobotoFont.scss';
@import 'material-icons.scss';

:root {
    /*  There might be some nonstandard themes below, but roll w/ it! */
    --mdc-theme-primary: #9c27b0;
    --mdc-theme-primary-light: #af52bf;
    --mdc-theme-primary-dark: #6d1b7b;
    --mdc-theme-primary-ultralight: #bf74cb;
    --mdc-theme-primary-ultradark: #4c1256;
    --mdc-theme-on-primary: #fff;
    --mdc-theme-primary-bg: #9c27b0;
    --mdc-theme-secondary: #3d5afe;
    --mdc-theme-secondary-light: #637bfe;
    --mdc-theme-secondary-dark: #2a3eb1;
    --mdc-theme-secondary-ultralight: #8295fe;
    --mdc-theme-secondary-ultradark: #1d2b7b;
    --mdc-theme-on-secondary: #fff;
    --mdc-theme-secondary-bg: #3d5afe;
    --mdc-theme-surface: #fff;
    --mdc-theme-surface-dark: #f3e5f5;
    --mdc-theme-surface-darker: #E1BEE7;
    --mdc-theme-surface-altdark: #E8EAF6;
    --mdc-theme-surface-altdarker: #C5CAE9;
    --mdc-theme-on-surface: #000;
    --mdc-theme-background: #fff;
    --mdc-theme-error: #b00020;
    --mdc-theme-on-error: #fff;
    --mdc-theme-text-primary-on-background: rgba(0,0,0,.87);
    --mdc-theme-text-secondary-on-background: rgba(0,0,0,.54);
    --mdc-theme-text-hint-on-background: rgba(0,0,0,.38);
    --mdc-theme-text-disabled-on-background: rgba(0,0,0,.38);
    --mdc-theme-text-icon-on-background: #000; //rgba(0,0,0,.38);
    --mdc-theme-text-primary-on-light: rgba(0,0,0,.87);
    --mdc-theme-text-secondary-on-light: rgba(0,0,0,.54);
    --mdc-theme-text-hint-on-light: rgba(0,0,0,.38);
    --mdc-theme-text-disabled-on-light: rgba(0,0,0,.38);
    --mdc-theme-text-icon-on-light: rgba(0,0,0,.38);
    --mdc-theme-text-primary-on-dark: #fff;
    --mdc-theme-text-secondary-on-dark: rgba(255,255,255,.7);
    --mdc-theme-text-hint-on-dark: rgba(255,255,255,.5);
    --mdc-theme-text-disabled-on-dark: rgba(255,255,255,.5);
    --mdc-theme-text-icon-on-dark: rgba(255,255,255,.5);
    --drock-transitions-length: 0.25s;
    --drock-navhead-height: 45rem;
    /* Make 1rem = 1px when default font-size is 16px */
    font-size: 6.25%;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    transition: all var(--drock-transitions-length, 0.3s) ease-in-out;
    font-family: Roboto, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 16rem;
    max-width: 100%;
    max-height: 100%;
}

#drock-base {
    font-size: 1rem;
    display: flex;
    flex-direction: column-reverse;
    max-width: 100%;
    min-width: 100%;
}

#main-body {
    position: relative;
    flex: 1;
    z-index: 0;
}

#drock-base, #swipe-base, .landing-swipe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.landing-div {
    position: relative;
}

#drock-topbar-container {
    position: relative;
    max-width: 100%;
    min-width: 100%;
}

#drock-main-nav {
    z-index: 4;
    max-width: 100%;
    min-width: 100%;
}

#drock-contactfab-container {
    position: absolute;
    right: 45rem;
    bottom: 45rem;
    z-index: 6;
}

#drock-contact-dialog {
    box-sizing: border-box;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 0rem;
    width: 0rem;
    margin: 65rem;
    padding: 0;
    overflow: hidden;
    z-index: 12;
    transition: all var(--drock-transitions-length, 0.3s) ease-in-out;
}

#drock-contact-dialog.active {
    @include elevation.elevation(12);
    height: 100%;
    width: 100%;
    margin: 0;
}
#drock-contact-dlg {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#drock-contact-snackbar .mdc-snackbar__surface {
    padding-top: 6rem;
    padding-bottom: 6rem;
    padding-left: 6rem;
}

#drock-contact-snackbar .mdc-snackbar__dismiss {
    color: #fff;
}

#drock-contact-snackbar-label {
    font-size: 18rem;
}

.drock-page-base {
    background-color: var(--mdc-theme-primary-ultradark, darkgray);
    display: flex;
    padding: 0;
}

.drock-page-content {
    @include elevation.elevation(2);
    box-sizing: border-box;
    background-color: #fff;
    min-height: 100%;
    padding: 20rem;
    margin: 0;
    min-width: 100%;
}

.drock-page-background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 0;
    //background-image: url("../homescreen-min.jpg");
    background-size: cover;
    background-position-x: center;
    opacity: 0.2;
    z-index: 0;
}

.drock-vert-dots {
    position: absolute;
    top: 50rem;
    left: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all var(--drock-transitions-length, 0.3s) ease-in-out;
}

.drock-vert-dot {
    @include elevation.elevation(6);
    height: 10rem;
    width: 10rem;
    background-color: var(--mdc-theme-primary, red);
    border-radius: 5rem;
    margin-bottom: 10rem;
    transition: all var(--drock-transitions-length, 0.3s) ease-in-out;
}

.drock-vert-dot.active {
    height: 20rem;
    width: 20rem;
    border-radius: 10rem;
    transition: all var(--drock-transitions-length, 0.3s) ease-in-out;
}

.home-page {
}

.home-page .drock-page-content {
    display: flex;
    position: relative;
    overflow: auto;
}
.home-page .drock-page-content .drock-page-background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 0;
    background-image: url("../homescreen-min.jpg");
    background-size: cover;
    background-position-x: center;
    opacity: 0.2;
    z-index: 0;
}

.home-page-list {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    z-index: 1;
}

.home-page-list-item {
    border-bottom: #bbb 1px solid;
    overflow: hidden;
}

.home-page-list-link {
    @include ripple.surface;
    @include ripple.radius-bounded;
    @include ripple.states;
    display: flex;
    cursor: pointer;
    color: var(--mdc-theme-on-surface, #000);
    text-decoration: none;
    padding: 10rem;
}

.home-page-icons {
    margin-right: 25rem;
    display: flex;
}
.home-page-icon-actual {
    margin: auto;
}

.home-page-listing {
    display: flex;
    flex-direction: column;
}

.home-page-listing-title {
    font-size: 18rem;
    margin: 5rem 0;
}

.home-page-listing-subtitle {
    font-size: 12rem;
    margin: 5rem 0;
}

@media screen and (orientation: landscape) {
    .drock-page-content {
        padding: 50rem;
    }

    .drock-page-resumehead {
        padding: 20rem;
    }

    .drock-resumehead-data {
        padding: 0 30rem 100rem 50rem;
    }

    .drock-page-github {
        padding: 20rem;
    }

    .drock-github-data {
        padding: 0 30rem 100rem 50rem;
    }

    .drock-page-resumeexp {
        padding: 20rem;
    }

    .drock-resumeexp-data {
        padding: 0 30rem 100rem 50rem;
    }
}

/*@media screen and (orientation: landscape) and (max-height: 600px) {
    .drock-swiper-prev, drock-swiper-next {
        display: none !important;
    }
}*/

.drock-page-resumehead {
    padding: 20rem;
    display: flex;
    flex-direction: row;
}

.drock-resumehead-data {
    margin: auto 0;
    z-index: 1;
}

.drock-resumehead-body {
    //@include elevation.elevation(1);
    background: rgba(255,255,255,0.6);
    padding: 10rem;
}

.drock-resumehead-title {
    font-size: 18rem;
    font-weight: bold;
    border-bottom: 1px solid #bbb;
    margin-bottom: 20rem;
}
.drock-resumehead-desc {
    margin: 10rem 30rem 20rem 50rem;
    font-size: 14rem;
}

.drock-page-github {
    padding: 20rem;
    display: flex;
    flex-direction: column;
}

.drock-github-head {
    font-size: 18rem;
    font-weight: bold;
    border-bottom: 1px solid #bbb;
    margin-bottom: 20rem;
}

.drock-github-data {
    margin: auto 0;
}

.drock-github-body {
    //@include elevation.elevation(1);
    background: rgba(255,255,255,0.6);
    padding: 10rem;
}

.drock-github-card {
    background-color: var(--mdc-theme-surface, #fff);
    color: var(--mdc-theme-on-surface, #000);
    max-width: fit-content;
    margin: 0 auto;
}

.drock-github-card-img {
    text-align: center;
    margin: 20rem 0 0 0;

    img {
        max-height: 80rem;
    }
}

.drock-github-card-title {
    font-size: 15rem;
    font-weight: bold;
    margin: 20rem;
}

.drock-github-card-desc {
    margin: 0rem 30rem 20rem 35rem;
    font-size: 13rem;
}

.drock-page-resumeexp {
    padding: 20rem;
    display: flex;
    flex-direction: column;
}

.drock-resumeexp-data {
    margin: auto 0;
    z-index: 1;
}

.drock-resumeexp-body {
    //@include elevation.elevation(1);
    background: rgba(255,255,255,0.6);
    padding: 10rem;
}

.drock-resumeexp-title {
    font-size: 18rem;
    font-weight: bold;
    border-bottom: 1px solid #bbb;
    margin-bottom: 20rem;
}

.drock-resumeexp-jobs {
    margin: 10rem 30rem 20rem 50rem;
    font-size: 14rem;
}

.drock-resumeexp-job {
    margin-bottom: 15rem;
}

.drock-resumeexp-job-title {
    font-weight: bold;
    margin-bottom: 2rem;
}

.drock-resumeexp-job-dates {
    margin-left: 15rem;
}
