<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="<%= htmlWebpackPlugin.options.description %>">
    <meta property="og:url" content="<%= htmlWebpackPlugin.options.url %>" />
    <meta property="og:type" content="profile" />
    <meta property="og:profile:first_name" content="<%= htmlWebpackPlugin.options.first_name %>" />
    <meta property="og:profile:last_name" content="<%= htmlWebpackPlugin.options.last_name %>" />
    <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>" />
    <meta property="og:description" content="<%= htmlWebpackPlugin.options.description %>" />
    <meta property="og:image" content="<%= htmlWebpackPlugin.options.url %>homescreen-min.jpg" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@subaruvagabond">
    <meta name="twitter:creator" content="@subaruvagabond">
    <meta name="twitter:title" content="<%= htmlWebpackPlugin.options.title %>">
    <meta name="twitter:description" content="<%= htmlWebpackPlugin.options.description %>">
    <meta name="twitter:image" content="<%= htmlWebpackPlugin.options.url %>homescreen-min.jpg">
</head>
<body class="mdc-typography drock-body">

    <div id="drock-base">
        <div id="main-body">
            <drock-swiper id="swipe-base" orientation="x" hideymove="true">
            </drock-swiper>
        </div>

        <div id="drock-topbar-container">
            <drock-topbar id="drock-main-nav">
            </drock-topbar>
        </div>

        <div id="drock-contactfab-container">
            <drock-fab id="drock-contactfab" title="Contact me" icon="email">
            </drock-fab>
        </div>

        <div id="drock-contact-dialog">
            <drock-contact id="drock-contact-dlg"></drock-contact>
        </div>

        <div id="drock-img-dialog">
            <img id="drock-img-dialog-img" src="">
            <button id="drock-img-dialog-close" class="mdc-icon-button material-icons" title="Close">close</button>
        </div>

        <div id="drock-contact-snackbar" class="mdc-snackbar">
            <div class="mdc-snackbar__surface" role="status" aria-relevant="additions">
                <div id="drock-contact-snackbar-label" class="mdc-snackbar__label" aria-atomic="false">
                    Message sent.
                </div>
                <div class="mdc-snackbar__actions" aria-atomic="true">
                    <button class="mdc-icon-button mdc-snackbar__dismiss material-icons" title="Dismiss">close</button>
                </div>
            </div>
        </div>

        <drock-splash src="SplashScreen-min.jpg"></drock-splash>
    </div>

    <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.cssFile %>">
</body>
</html>