<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="mdc-typography drock-body">

    <div id="drock-base">
        <div id="main-body">
            <drock-swiper id="swipe-base" orientation="x">
            </drock-swiper>
        </div>

        <div id="drock-topbar">
            <drock-topbar id="drock-main-nav">
            </drock-topbar>
        </div>

        <div id="drock-contact">
            <drock-fab id="drock-contactfab" title="Contact me" icon="email">
            </drock-fab>
        </div>
    </div>

    <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.cssFile %>">
</body>
</html>