@use "@material/elevation";
@use "@material/ripple";
@use "@material/icon-button/mdc-icon-button";
@use "@material/card/mdc-card";
@use "@material/image-list/mdc-image-list";
@use "@material/image-list";
@import '../material-icons.scss';
@import '../RobotoFont.scss';
@import 'pages.scss';


:host {
    all: initial;
    display: block;
    contain: layout;
    font-family: Roboto, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}


.home-page {
    min-height: 100%;
}

.home-page .drock-page-background {
    background-image: url("../homescreen-min.jpg");
}

.home-page-list {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    z-index: 1;
}

.home-page-list-item {
    border-bottom: #bbb 1px solid;
    overflow: hidden;
}

.home-page-list-link {
    @include ripple.surface;
    @include ripple.radius-bounded;
    @include ripple.states;
    display: flex;
    cursor: pointer;
    color: var(--mdc-theme-on-surface, #000);
    text-decoration: none;
    padding: 10px;
}

.home-page-icons {
    margin-right: 25px;
    display: flex;
}

.home-page-icon-actual {
    margin: auto;
}

.home-page-listing {
    display: flex;
    flex-direction: column;
}

.home-page-listing-title {
    font-size: 18px;
    margin: 5px 0;
}

.home-page-listing-subtitle {
    font-size: 12px;
    margin: 5px 0;
}

.drock-homepage-slotlol {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 0;
    max-height: 0;
    max-width: 0;
    min-height: 0;
    min-width: 0;
    overflow: hidden;
}
