@use "@material/ripple";
@import '../../../material-icons.scss';
@import '../../../RobotoFont.scss';

:host {
    all: initial;
    display: block;
    contain: content;
    font-family: Roboto, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;

    --saw-week-count-days: 3;
}

#saw-week-container {
    height: 100%;
    max-height: calc(100vh - var(--saw-topbar-height, 0rem) - var(--saw-sidebar-size, 0rem));
    width: 100%;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}
@media screen and (orientation: landscape) {
    #saw-week-container {
        max-height: calc(100vh - var(--saw-topbar-height, 0rem));
    }
}


#saw-week-table {
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
    background-size: calc(100% / var(--saw-week-count-days, 1)) 100%;
    background-image: linear-gradient(to right, var(--mdc-theme-surface, #fff) calc(100% - 1rem), var(--mdc-theme-primary-light, grey) 0rem);
    border-spacing: 1rem;
    border-collapse: collapse;
    table-layout: fixed;

    td {
        //background-color: #fff;
    }
}

#saw-week-head {
    min-height: 64rem;
    position: sticky;

    th {
        position: sticky;
        top: 0rem;
        height: 64rem;
        padding: 0;
        margin: 0;

        saw-day-head {
            position: relative;
            width: 100%;
            height: 100%;
            border-bottom: 1px solid var(--mdc-theme-primary-light, #eee);
        }
    }
}

#saw-week-body {

    td {
        height: 32rem;
    }

    .saw-allocs-row-first {
        border-top: 1px solid var(--mdc-theme-primary-light, #000);
    }

    .saw-trans-row-first {
        border-top: 1px solid var(--mdc-theme-primary-light, #000);
    }
}

.saw-week-bottom {
    height: 100%;
}
